<div class="overflow-auto w-100">
    <style>
        #{{type}}_kpi_table th:first-child, td:first-child
        {
        position:sticky;
        left:-1px;
        background-color: #fff;
        }
    </style>
    <table id="{{type}}_kpi_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Working</th>
                <th scope="col">Billable</th>
                <th scope="col">points</th>
                <th scope="col">logTimeDaily</th>
                <th scope="col">planTimeDaily</th>
                <th scope="col">writeShareDoc</th>
                <th scope="col">fullAttendancePoints</th>
                <th scope="col">fullAttendanceDay</th>
                <th scope="col">fullWeekDay</th>
                <th scope="col">leave</th>
                <th scope="col">normalKPIHours</th>
                <th scope="col">afterHour</th>
                <th scope="col">afterHourExtra</th>
                <th scope="col">extraKPIHours</th>
                <th scope="col">totalActualWorking</th>
                <th scope="col">helpVotePoints</th>
                <th scope="col">helpingWinner</th>
                <th scope="col">mostBillable</th>
                <th scope="col">mostWorking</th>
                <th scope="col">shareVotePoints</th>
                <th scope="col">sharingWinner</th>
                <th scope="col">sharingTopic</th>
                <th scope="col">totalAttitude</th>
                <th scope="col">totalExtra</th>
                <th scope="col">totalExtraKPIHours</th>
                <th scope="col">totalGoal</th>
                <th scope="col">totalHelping</th>
                <th scope="col">totalNormalKPIHours</th>
                <th scope="col">totalPerformance</th>
                <th scope="col">totalSharing</th>
            </tr>
        </thead>
        <tbody id="{{type}}_kpi_tbody">
        </tbody>
    </table>
</div>