<div class="row">
    <div class="form-group col-12 col-md-6">
        <label for="kpi-form-email">Email</label>
        <input type="email" class="form-control" id="kpi-form-email">
    </div>
</div>
<div class="row">
    <div class="form-group col-12 col-md-6">
        <label for="kpi-form-key">Key</label>
        <input type="password" class="form-control" id="kpi-form-key">
        <small class="form-text text-muted">Never share your key with others.</small>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <button id="kpi-login" class="btn btn-primary">log in</button>
    </div>
</div>