<option disabled="true" selected="true">Select an email</option>
{{#eq this 'neal'}}
<option value="davidmayo@moustacherepublic.com">davidmayo@moustacherepublic.com</option>
<option value="richard@moustacherepublic.com">richard@moustacherepublic.com</option>
<option value="jason@moustacherepublic.com">jason@moustacherepublic.com</option>
<option value="kai@moustacherepublic.com">kai@moustacherepublic.com</option>
<option value="williamt@moustacherepublic.com">williamt@moustacherepublic.com</option>
<option value="caleb@moustacherepublic.com">caleb@moustacherepublic.com</option>
{{else eq this 'david'}}
<option value="barrick@moustacherepublic.com">barrick@moustacherepublic.com</option>
<option value="jonathan@moustacherepublic.com">jonathan@moustacherepublic.com</option>
<option value="nancie@moustacherepublic.com">nancie@moustacherepublic.com</option>
<option value="michael@moustacherepublic.com">michael@moustacherepublic.com</option>
<option value="theresia@moustacherepublic.com">theresia@moustacherepublic.com</option>
<option value="jamie@moustacherepublic.com">jamie@moustacherepublic.com</option>
<option value="jonathanzhou@moustacherepublic.com">jonathanzhou@moustacherepublic.com</option>
<option value="anni@moustacherepublic.com">anni@moustacherepublic.com</option>
{{/eq}}